body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    margin-top: 10px;
}

    .navbar img {
        height: 50px;
        margin-left: -250px
    }

    .navbar .nav-links {
        display: flex;
        align-items: center;
        margin-right: -250px;
    }

    .navbar a {
        display: block;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
    }

        .navbar a:hover {
            color: #dad6d6;
        }

.login-button {
    background-color: #daa37f;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    margin-left: 20px;
}
    .login-button:hover {
        background-color: #b2bd56;
    }

.banner {
    display: flex;
    align-items: center;
    position: relative;
    background-size: cover;
    height: 800px;
    padding: 20px;
}

.banner-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Para manter a hierarquia de elementos */
    z-index: 2; /* Garante que o texto esteja acima da imagem */
    margin-left: 900px;
    margin-top: -300px;
}

.text-background {
    color: white;
    margin-right: 1200px;
    padding: 20px;
    margin-left: 60px;
    margin-top: 40px; 
}

    .text-background img.banner-image {
        display
        width: 350px;
        height: auto;
        margin-left: 1370px;
        margin-bottom: -150px;
    }


}

  .text-background .banner-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative; /* Para manter a hierarquia de elementos */
        z-index: 2; /* Garante que o texto esteja acima da imagem */
        margin-left: 1370px;
        margin-top: -90px;
 }

/* NAO MEXER        */
.banner {
    width: 1890px;
    height: 450px;
    background-color: #2D83B6;
    background-size: cover;
    background-position: center;
    margin-top: 30px;
    margin-left: -300px
}


.image-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

    .image-container .image-box {
        width: 30%;
        text-align: center;
    }

    .image-container img {
        width: 100%;
        height: auto;
        margin-top: 30px;
    }

    .image-container h3 {
        margin-top: 10px;
        font-size: 18px;
    }

footer {
    background-color: #201D14;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 28px;
}
