@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
}
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.conect {
    position: absolute; /* Mantém a imagem posicionada */
    top: 40%; /* Ajuste o valor para mover a imagem mais para cima ou para baixo */
    left: 35%; /* Centraliza horizontalmente */
    width: 35%;
    transform: translate(-50%, -50%); /* Ajusta para que o centro da imagem fique no meio do contêiner */
    z-index: 5; /* Certifique-se de que o z-index é menor que o do botão */
}



.imagem-direita {
    position: absolute; /* Mantém a imagem fixa na tela */
    right: 0; /* Coloca a imagem no lado direito */
    top: 50%; /* Posiciona a imagem no meio vertical da tela */
    transform: translateY(-50%); /* Centraliza a imagem verticalmente */
    z-index: 10; /* Garante que a imagem fique acima de outros elementos */
    height: auto; /* Mantém a proporção */
}


.banner__title {
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.2;
}

.banner__text {
    font-size: 1.5em;
    margin-bottom: 30px;
    font-weight: 300;
    color: white;
    outline: none;
}

.botao {
    text-align: center;
    color: #fff;
    padding: 20px; /* Ajuste conforme necessário */
    border-radius: 10px;
    margin-top: 20%; /* Ajuste a margem superior conforme necessário para posicionar o botão abaixo da imagem */
    position: absolute; /* Mantém a posição absoluta para ficar no mesmo contêiner */
    left: 25.5%; /* Alinha ao centro horizontalmente */
    transform: translateX(-50%); /* Corrige a centralização */
    z-index: 15; /* Aumente o z-index para ser maior que a imagem */
}

.play-button {
    background-color: #8bcaf8; /* Cor de fundo padrão */
    border: none;
    color: black; /* Mantém a cor do texto */
    padding: 15px 30px; /* Aumenta o padding para um botão maior */
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px; /* Mantém o tamanho da fonte */
    text-decoration: none;
    display: inline-block;
    width: 250px; /* Aumenta a largura do botão */
    transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Transição suave */
}

    .play-button:hover {
        background-color: #5BB4F5; /* Nova cor de fundo quando o mouse está sobre o botão */
        color: black; /* Mantém a cor do texto quando o mouse está sobre o botão */
        transform: translateY(-2px); /* Move o botão ligeiramente para cima */
    }

    .play-button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }


.footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px;
}
