body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    background-color: blue; /* Adiciona o fundo azul */
}

    .navbar img {
        height: 50px;
        margin-left: -250px;
    }

    .navbar .nav-links {
        display: flex;
        align-items: center;
        margin-right: -250px;
    }

    .navbar a {
        display: block;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
    }

        .navbar a:hover {
            color: #dad6d6;
        }

.container {
    display: flex;
    padding: 25px;
}

.filter {
    width: 450px;
    height: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: solid 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    margin-left: 15px;
}

    .filter h3 {
        margin-top: 0;
    }

    .filter .checkbox-group {
        margin-top: 20px;
    }

        .filter .checkbox-group label {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .filter .checkbox-group input {
            margin-right: 10px;
        }

.results {
    flex-grow: 1;
    margin-left: 95px;
}

.result-item {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    width: 93%;
    margin-left: 20px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
}

    .result-item img {
        width: 225px;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
        margin-right: 20px;
    }

    .result-item .content {
        flex-grow: 1;
    }

        .result-item .content h4 {
            margin-top: 0;
        }

        .result-item .content p {
            margin: 10px 20px 20px 10px;
        }

    .result-item .btn {
        background-color: #0077b6;
        color: white;
        padding: 10px 20px;
        border-radius: 20px;
        text-decoration: none;
        font-weight: bold;
        margin-top: 21px;
        margin-left: 70%;
    }
