@page
@model Steammostra.Pages.homeModel

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="~/css/home.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

</head>

<body>
    <div class="navbar">
        <img src="~/imagens/LOGOOFC.png" alt="Logo">
        <div class="nav-links">
            <a href="/home">Início</a>
            <a href="/sobre">Sobre</a>
            <a href="/Serviços">Serviços</a>
        </div>
    </div>

    <div class="banner">
        <div class="text-background">
                Explore um novo mundo<br />
                com a acessibilidade que você merece!
              
            <img class="banner-image" src="~/imagens/MaletaTelaPrincipal.png" alt="MalaViagem">
         
            </>
        </div>

      
    </div>
    
    <div class="busque-viagem">
        Busca Populares
    </div>

    <div class="image-container">
 
        <div class="image-box">
            <img src="~/imagens/EleveadorLacerda.png" alt="Elevador Lacerda">
            <h3>Elevador Lacerda, Salvador.</h3>
        </div>

        <div class="image-box">
            <img src="~/imagens/piermahimahi.png" alt="Imagem 2">
            <h3>Píer do Mahi Mahi, Salvador.</h3>
        </div>
        <div class="image-box">
            <img src="~/imagens/senhorbonfim.png" alt="Imagem 3">
            <h3>Basílica Senhor do Bonfim, Salvador.</h3>
        </div>
    </div>

    <div class="prox-viagem">
        Inspire-se para sua próxima viagem
    </div>

    <div class="viagem-item">
        <img class="lugares img1" src="~/imagens/faroll.png" alt="Imagem 1" />
        <img class="lugares img2" src="~/imagens/faroll.png" alt="Imagem 2" />
        <img class="lugares img3" src="~/imagens/faroll.png" alt="Imagem 3" />
    </div>


    <div class="banner-help">
        <div class="help">
             Precisa de ajuda?
                <h6>Converse com nossa equipe de suporte para obter recomendações e assistência personalizada durante sua viagem.</h6>
            <button onclick="location.href='sua-pagina.html'" class="btn btn-primary">Saiba Mais</button>
        </div>

        <img class="help-banne" src="~/imagens/ajudafoto.png">
    </div>

</body>
</html>