@page
@model Steammostra.Pages.homeModel

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="~/css/home.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

</head>

<body>
    <div class="navbar">
        <img src="~/imagens/LOGOOFC.png" alt="Logo">
        <div class="nav-links">
            <a href="/home">Início</a>
            <a href="/sobre">Sobre</a>
        </div>
    </div>

    <div class="banner">
        <div class="text-background">
                <h1>Explore um novo mundo <br /> com a acessibilidade que você merece!</h1>
              
            <img class="banner-image" src="~/imagens/MaletaTelaPrincipal.png" alt="MalaViagem">
         
            </>
        </div>

      
    </div>
   
    <div class="indica">
        Recomendamos Belos<br /> 
        Destinos Todos os meses.
    </div>

    <div class="paragrafo">
        Explore Novas Experiências a Cada Visita na nossa Bahia!
    </div>

    <img class="mixturismo" src="~/imagens/mixturismo.png" />

    <div class= "roteamento">
        Roteamento de lugares
    </div>


    <div class="cards-container">
        <div class="card">
            <h3>Guias para Deficiencia Visual</h3>
            <p>Descubra lugares que oferecem recursos visuais e sinalização para garantir uma experiência acessível e inclusiva.</p>
            <a href="@Url.Page("rotacegos")"> <button type="submit" class="play-button">Saiba Mais</button></a>
        </div>
        <div class="card">
            <h3>Guias para Deficiencia Auditivos</h3>
            <p>Explore espaços adaptados com rampas, elevadores., proporcionando conforto e liberdade de movimentação.</p>
            <a href="@Url.Page("rotaauditivo")"> <button type="submit" class="play-button">Saiba Mais</button></a>
        </div>
        <div class="card">
            <h3>Guias para Deficiencia Física</h3>
            <p>Encontre locais que oferecem descrições táteis e audioguias, tornando a exploração do ambiente mais rica e acessível.</p>
            <a href="@Url.Page("rotafisicos")"> <button type="submit" class="play-button">Saiba Mais</button></a>
        </div>
    </div>


    <div class="busque-viagem">
        Busca Populares
    </div>

    <div class="image-container">

        <div class="image-box">
            <img src="~/imagens/elevador.png" alt="Elevador Lacerda">
            <h3>Elevador Lacerda, Salvador</h3>
        </div>

        <div class="image-box">
            <img src="~/imagens/pelo.png" alt="Imagem 2">
            <h3>Pelourinho, Salvador</h3>
        </div>
        <div class="image-box">
            <img src="~/imagens/stantonio.png" alt="Imagem 3">
            <h3>Santo Antônio Além do Carmo, Salvador</h3>
        </div>
    </div>

    <img class="salvador-banner" src="~/imagens/ssa.png" />

    <div class="banner-help">
        <div class="help">
             Precisa de ajuda?
                <h6>Converse com a nossa equipe de suporte para obter recomendações<br /> e assistência personalizada durante sua viagem.</h6>
            <button onclick="location.href='sua-pagina.html'" class="btn btn-primary">Saiba Mais</button>
        </div>

        <img class="help-banne" src="~/imagens/help.png">
    </div>



</body>
</html>