@page
@model Steammostra.Pages.rotafisicosModel


<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="~/css/rotas.css" />
</head>

<body>
    <div class="navbar">
        <img src="~/imagens/LOGOOFC.png" alt="Logo">
        <div class="nav-links">
            <a href="/home">Início</a>
            <a href="/sobre">Sobre Nós</a>
            <a href="/perfil">Perfil</a>

        </div>
    </div>

    <div class="container">
        <div class="filter">
            <h3>Filtrar resultados por:</h3>
            <div class="checkbox-group">
                <label>
                    <input type="checkbox" />
                    <span>Fantástico 9 ou mais</span>
                </label>
                <label>
                    <input type="checkbox" />
                    <span>Muito bom 8 ou mais</span>
                </label>
                <label>
                    <input type="checkbox" />
                    <span>Bom 7 ou mais</span>
                </label>
                <label>
                    <input type="checkbox" />
                    <span>Satisfatório 6 ou mais</span>
                </label>
            </div>
        </div>
        <div class="results">
            <div class="result-item">
                <img alt="Casa do Rio Vermelho" src="~/imagens/casajorge.jpg" width="220" />
                <div class="content">
                    <h4>Casa do Rio Vermelho</h4>
                    <p>
                        Casa do Rio Vermelho é como ficou conhecida a residência onde viveu o casal de escritores Jorge Amado e Zélia Gattai <br> 
                        Endereço: R. Alagoinhas, 33 - Rio Vermelho, Salvador - BA, 41940-620
                    </p>
                    <a class="btn" href="visu3fisicos">Visualizar destino</a>
                </div>
            </div>
            <div class="result-item">
                <img alt="Espaço Carybé de Artes (Forte de São Diogo)" src="~/imagens/Saodiogo.jpg" width="220" />
                <div class="content">
                    <h4>Espaço Carybé de Artes (Forte de São Diogo)</h4>
                    <p>
                        O cimento, os relevos, a textura e as cores de Hector Julio Páride Bernabó, o Carybé, estão representados em um dos lugares mais charmosos da cidade: o Porto da Barra. <br>
                        Endereço: R. do Forte de São Diogo, s/n - Porto da Barra, Salvador - BA, 40130-170

                    </p>
                    <a class="btn" href="#">Visualizar destino</a>
                </div>
            </div>
            <div class="result-item">
                <img alt="Casa do Carnaval da Bahia" src="~/imagens/carnaval.jpeg" width="220" />
                <div class="content">
                    <h4>Casa do Carnaval da Bahia</h4>
                    <p>
                        A Casa do Carnaval da Bahia é o museu que conta, de forma lúdica e interativa, a história do maior carnaval de rua do mundo, o Carnaval de Salvador. <br>
                        Endereço: Praça Ramos de Queirós, s/n - Pelourinho, Salvador - BA, 40026-055
                    </p>
                    <a class="btn" href="#">Visualizar destino</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

