@page
@model Steammostra.Pages.rotacegosModel

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rota para Deficientes Visuais</title>
    <link rel="stylesheet" href="@Url.Content("~/css/rotacegos.css")" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>

    <div class="navbar">
        <img src="~/imagens/LOGOOFC.png" alt="Logo">
        <div class="nav-links">
            <a href="/home">Início</a>
            <a href="/sobre">Sobre</a>
            <a href="/Serviços">Serviços</a>
                    </div>
                </div>
            </div>
    <div class="main-content">
        <img alt="Colorful umbrellas hanging over a street with tables and chairs below" height="300" src="IMGSANTOANTONIO (1).png" width="300" />
        <div class="text-content">
            <h1>Santo Antônio Além do Carmo</h1>
            <p>É um bairro histórico de Salvador, na Bahia, conhecido por sua rica herança cultural e arquitetônica. Localizado na colina que se ergue sobre a Baía de Todos os Santos, o bairro possui ruas de paralelepípedos, casas coloniais coloridas e igrejas centenárias, como a Igreja de Santo Antônio.</p>
        </div>
    </div>

    <div class="foot-content">
        <div class="other-places">
            <h2 cla>Outros lugares</h2>
            <div class="places">
                <img alt="Interior of a hotel room with a large bed and windows" src="Group 38.png" />
                <img alt="Interior of a hotel room with a large bed and windows" src="Group 38.png" />
            </div>
        </div>
        <div class="reviews">
            <h2>Avaliações</h2>
            <div class="review-list">
                <p>Este lugar é maravilhoso</p>
                <p>Acessibilidade sensacional!</p>
            </div>
</body>
</html>
