@page
@model Steammostra.Pages.rotasurdosModel

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="~/css/rotas.css" />
</head>

    <body>
        <div class="navbar">
            <img src="~/imagens/LOGOOFC.png" alt="Logo">
            <div class="nav-links">
                <a href="/home">Início</a>
                <a href="/sobre">Sobre Nós</a>
                <a href="/perfil">Perfil</a>

            </div>
        </div>

    <div class="container">
        <div class="filter">
            <h3>Filtrar resultados por:</h3>
            <div class="checkbox-group">
                <label>
                    <input type="checkbox" />
                    <span>Fantástico 9 ou mais</span>
                </label>
                <label>
                    <input type="checkbox" />
                    <span>Muito bom 8 ou mais</span>
                </label>
                <label>
                    <input type="checkbox" />
                    <span>Bom 7 ou mais</span>
                </label>
                <label>
                    <input type="checkbox" />
                    <span>Satisfatório 6 ou mais</span>
                </label>
            </div>
        </div>
        <div class="results">
            <div class="result-item">
                <img alt="Ilsordo" src="~/imagens/ilsordo.jpeg" width="220" />
                <div class="content">
                    <h4>Gelateria il Sordo</h4>
                    <p>
                       Uma gelateria totalmente inclusiva, com funcionários surdos e sobremesas deliciosas. <br> Endereço: R. Marquês de Caravelas, 148 - Loja 1 - Barra, Salvador - BA, 40140-240
                    </p>
                    <a class="btn" href="visu2surdos">Visualizar destino</a>
                </div>
            </div>
            <div class="result-item">
                <img alt="Teatro Castro Alves" src="~/imagens/tca.jpg" width="220" />
                <div class="content">
                    <h4>Teatro Castro Alves</h4>
                    <p>
                        O Teatro Castro Alves é o maior e mais importante centro artístico de Salvador. Ele conta com diversas peças com intérpretes de libras. <br>
                        Endereço: Praça Dois de Julho, s/n - Campo Grande, Salvador - BA, 40080-121

                    </p>
                    <a class="btn" href="#">Visualizar destino</a>
                </div>
            </div>
            <div class="result-item">
                <img alt="Espaço Cultural da Barroquinha" src="~/imagens/barroquinha2.jpeg" width="220" />
                <div class="content">
                    <h4>Espaço Cultural da Barroquinha</h4>
                    <p>
                        O espaço tem capacidade para receber espetáculos de teatro, dança e música com intérpretes em libras. <br>
                        Endereço:  Rua do Couro, s/ n - Barroquinha, Salvador - BA, 40020-160
                    </p>
                    <a class="btn" href="#">Visualizar destino</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
