@page
@model Steammostra.Pages.homeModel

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nós</title>
    <link rel="stylesheet" href="~/css/sobre.css" />
</head>
<body>
    <div class="navbar">
        <img src="~/imagens/LOGOOFC.png" alt="Logo">
        <div class="nav-links">
            <a href="/home">Início</a>
            <a href="/sobre">Sobre</a>
        </div>
    </div>

    <div class="banner">
        <div class="text-background">
              <h1>Descubra a essência da <br /> nossa equipe e o que nos motiva!</h1>
           
            </>
            <img class="image" src="~/imagens/MILLE.png" alt="MalaViagem">
        </div>
    </div>

    <!-- Seção Sobre -->
    <section class="sobre">
        <div class="container">
            <div class="sobre-conteudo">
                <img class="banner-image" src="~/imagens/pelo.png" alt="MalaViagem">
                <div class="sobre-texto">
                    <h2>Sobre Nós</h2>
                    <p>No Acess Tour, nossa missão é transformar ideias em soluções inovadoras. Fundada em 2022, somos uma equipe apaixonada e dedicada a oferecer serviços de alta qualidade para pessoas portadoras de deficiências no âmbito do turismo.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Seção Nossa Missão -->
    <section class="nossa-missao">
        <div class="imagens">
            <img src="~/imagens/missao.png" class="imagem-praia">
        </div>
    </section>

    <!-- Seção Contato -->
    <section class="contato">
        <div class="container">
            <h2>Escolha a melhor forma de <span>falar com a gente</span></h2>
            <div class="contact-info">
                <div class="contact-box">
                    <span aria-label="Telefone">📞</span> (71) 99999-9999
                </div>
                <div class="contact-box email">
                    <span aria-label="E-mail">✉️</span> acesstour@dominio.com
                </div>
            </div>
            <p class="info-text">Entre em contato por um de nossos canais.<br> Fique atento! O prazo para retorno das chamadas é até 7 dias úteis a partir da abertura do chamado.</p>
            <div class="rate-experience">

                <div class="login-section">
                    <form class="login-form">
                        <h2> Avalie sua experiência</h2>
                        <input type="email" placeholder="E-mail" required aria-label="Entre utilizando o E-mail">
                        <input type="text" placeholder="Nome de usuário" required aria-label="Nome de usuário">
                        <input type="password" placeholder="Comentários" required aria-label="Senha">
                        <button type="submit">Enviar</button>
                    </form>
                </div>
            </div>
    </section>
    </main>

</body>
</html>