@page
@model Steammostra.Pages.CreateModel
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/sobre.css" />
    <title>Sobre Nós</title>
</head>
<body>
    <header>
        <h1>Sobre Nós</h1>
    </header>
    <div class="container">
        <div class="content">
            <h2>Quem Somos</h2>
            <p>Somos uma equipe dedicada a tornar o turismo mais acessível e inclusivo para todos. Nosso site é um guia turístico especializado em destinos e serviços adaptados para pessoas com deficiência. Nosso objetivo é fornecer informações detalhadas e confiáveis para ajudar nossos usuários a planejar viagens seguras e confortáveis.</p>
            <h2>Nossa Missão</h2>
            <p>Trabalhamos para promover a inclusão e a acessibilidade no turismo, oferecendo recursos e informações sobre destinos que atendem às necessidades especiais de nossos visitantes. Acreditamos que todos devem ter a oportunidade de explorar o mundo com facilidade e segurança. Nosso compromisso é garantir que nossos usuários tenham acesso a informações atualizadas e relevantes, permitindo-lhes aproveitar ao máximo suas experiências de viagem.</p>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Seu Guia Acessível. Todos os direitos reservados.</p>
    </footer>
</body>
</html>