/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1; /* Isso faz o conteúdo principal expandir */
}

.footer {
    background-color: #2D83B6; /* Cor de fundo do footer */
    color: white; /* Texto branco no footer */
    text-align: center; /* Centraliza o conteúdo no meio */
    padding: 20px; /* Espaçamento interno */
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex; /* Usando flexbox para o footer */
    flex-wrap: wrap; /* Permite que as colunas quebrem em múltiplas linhas se necessário */
}

.header {
    background-color: #2D83B6;
    color: white;
    padding: 10px; /* Ajustei o padding */
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1; /* Cada coluna ocupa espaço igual */
    margin-right: 20px; /* Margem entre colunas */
    min-width: 150px; /* Largura mínima */
}

    .column:last-child {
        margin-right: 0; /* Remove margem da última coluna */
    }

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

li {
    font-size: 14px;
    margin-bottom: 5px; /* Espaçamento entre itens da lista */
}

.icons {
    display: flex; /* Flexbox para ícones */
    justify-content: space-between; /* Espaçamento entre ícones */
}

.icon {
    width: 30px; /* Largura do ícone */
    height: 30px; /* Altura do ícone */
    background-color: white; /* Cor de fundo do ícone */
    border-radius: 50%; /* Ícones redondos */
}

/* Media Query para Responsividade */
@media (max-width: 768px) {
    .footer {
        flex-direction: column; /* Colunas empilhadas em telas menores */
        align-items: center; /* Centraliza o conteúdo */
    }

    .column {
        margin-right: 0; /* Remove margens nas colunas */
        margin-bottom: 20px; /* Adiciona espaço entre colunas */
    }
}


